body {
    font-family: "Arial", sans-serif, "Helvetica";
}

li {
    color: rgb(50, 98, 222);
}

.correo:hover {
    color: rgb(117, 207, 227);

}

#matricula:hover {
    color: rgb(183, 196, 69);
}


* {
    box-sizing: border-box;
}


.container {
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
}